@model flip_flop.Models.PlainTickets

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>PlainTickets</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TargetKey)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TargetKey)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DateOfFlight)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DateOfFlight)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FlightNumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FlightNumber)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.OwnerId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.OwnerId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CancleFee)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CancleFee)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Food)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Food)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Baggage)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Baggage)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ClassKey)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ClassKey)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Key">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
