@model flip_flop.Models.PlainTickets

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>PlainTickets</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Target)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Target)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DateOfFlight)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DateOfFlight)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FlightNumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FlightNumber)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.OwnerId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.OwnerId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CancleFee)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CancleFee)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Food)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Food)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Baggage)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Baggage)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Class)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Class)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>
    </dl>
</div>
<div>
    <form asp-action="BuyFlight">
        <input type="hidden" asp-for="Key" />
        <input type="hidden" asp-for="OwnerId" />
        <input type="submit" value="Buy" class="btn btn-default" />
    </form>    
    @*<a asp-action="Edit" asp-route-id="@Model.Key">Edit</a> |*@
    <a asp-action="Index">Back to List</a>
</div>
