<environment names="Development">
    <link rel="stylesheet" href="~/css/FlightsStyle.css" />
</environment>

@model IEnumerable<flip_flop.Models.PlainTickets>

@{
    ViewData["Title"] = "Index";
}
<div>
    <h2>All Flights</h2>

    <a class="btn btn-default" asp-action="Create">Create New</a>
    
    <form asp-controller="PlainTickets" asp-action="Index">
        <p>
            Flight Number: <input type="text" name="SearchString" placeholder="Flight Number">
            Destination: <input type="text" name="Destination" placeholder="Destination">
            UserName: <input type="text" name="UserName" placeholder="UserName">
            <input type="submit" value="Filter" />
        </p>
    </form>
</div>
<div class="row">
    @foreach (var item in Model)
    {
    <a asp-action="Details" asp-route-id="@item.Key">
        <div class="col-sm-4">
            <div class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <h1>@Html.DisplayFor(modelItem => item.TargetKeyNavigation.CityName)</h1>
                        
                        <h1 class="@((!item.IsSold) ? "notsee" : "see")">Sold!</h1>
                    </div>
                    <div class="flip-card-back">
                        <table>
                            <tr>
                                <th>Destination: </th>
                                <th>@Html.DisplayFor(modelItem => item.TargetKeyNavigation.CityName)</th>
                            </tr>
                            <tr>
                                <th>Country: </th>
                                <th>@Html.DisplayFor(modelItem => item.TargetKeyNavigation.CountryKeyNavigation.CountryName)</th>
                            </tr>
                            <tr>
                                <th>Date of flight: </th>
                                <th>@Html.DisplayFor(modelItem => item.DateOfFlight)</th>
                            </tr>
                            <tr>
                            <th>Price: </th>
                            <th>@Html.DisplayFor(modelItem => item.Price)</th>
                            </tr>                            
                        </table>
                    </div>
                </div>      
            </div>
        </div>
    </a>
    }
    </div>
  
