@model IEnumerable<flip_flop.Models.TicketsHistory>

@{
    ViewData["Title"] = "Index";
}


<script type="text/javascript" src="http://mbostock.github.com/d3/d3.js?2.1.3"></script>
<script type="text/javascript" src="http://mbostock.github.com/d3/d3.geom.js?2.1.3"></script>
<script type="text/javascript" src="http://mbostock.github.com/d3/d3.layout.js?2.1.3"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<h2>Index</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DateOfTrade)
            </th>
            <th>Buyer Email</th>
            <th>Seller Email</th>
            <th>Destination</th>
            <th></th>
        </tr>
    </thead>
    <tbody  id="try" class="try">
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.DateOfTrade)
                </td>
                <td name="buyer" id="buyer" class="buyer">
                    @Html.DisplayFor(modelItem => item.KeyBuyerNavigation.FirstName)
                </td>
                <td name="seller" id="seller" class="seller">
                    @Html.DisplayFor(modelItem => item.KeySellerNavigation.FirstName)
                </td>
                <td name="target" id="target" class="target">
                    @Html.DisplayFor(modelItem => item.KeyTicketNavigation.TargetKeyNavigation.CityName)
                </td>
            </tr>
        }
    </tbody>
</table>
<div >


</div>
<script type="text/javascript" src="~/js/FlightPaiDiagram.js"></script>
