@model flip_flop.Models.Targets

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Targets</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CityName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CityName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CountryKeyNavigation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CountryKeyNavigation.CountryName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Key">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
